
header {
	background-color: #333333;
}

header nav ul li{

	position: relative;
	list-style: none;
	float: right;
	display: inline-block;

}

header nav ul a{
	position: relative;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 0.95em;
	font-family: arial;
	top:40px;
	color: white;
	
}

header nav ul a:hover{
background-color: gray;
} 

.logo{
	float: left;
}

/*empieza footer}*/

footer {
	height: 110px;
	background: #6E6E6E;
	position: relative;
	text-align: center;
	font-family: arial;
}

footer div a {
	text-decoration: none;
	padding-left: 8px;
	color: #424242;

}

footer div p a {
	font-size: 1em;
	text-decoration: none;
	color: #424242;
}

.texto {
	color: white;
	font-size: 0.75em;
	padding-top: 12px;
	text-align: left;

}
.submenu {
	padding-top: 12px;
}
.read {
		color: #424242;
	font-size: 0.7em;
	padding-top: 12px;
}